{% extends 'base.html.twig' %}

{% block title %}Edit Ingredient{% endblock %}

{% block header %}Edit{% endblock %}

{% block ingredientsactive %}active{% endblock %}

{% block body %}
  <div class="container">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table class="table">
      <thead>
        <tr>
          <th>Field</th>
          <th>Content</th>
      </thead>
      <tbody>
        <tr>
          <td>Name</td>
          <td>{{ form_row(form.name) }}</td>
        </tr>
        <tr>
          <td>Type</td>
          <td>{{ form_row(form.type) }}</td>
        </tr>
        <tr>
          <td>Availablability</td>
          <td>{{ form_row(form.isAvailable) }}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{ form_row(form.price) }}</td>
        </tr>
        <tr>
          <td>per Liter?</td>
          <td>{{ form_row(form.isPerLiter) }}</td>
        </tr>
      </tbody>
    </table>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
  </div>
{% endblock %}
