{% extends 'base.html.twig' %}

{% block title %}Ingredient Types{% endblock %}

{% block header %}Ingredient Types{% endblock %}

{% block typesactive %}active{% endblock %}

{% block body %}
<div class="container">
    <div class="leavesomespace">
      <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        + Add
      </button>
    </div>
    <div class="collapse leavesomespace" id="collapseExample">
      <div class="card card-body">
        <h3>Add a new Ingredient Type</h3>
        {{ form(form) }}
      </div>
    </div>

  <div class="card-columns">
    {% for ingredientType in ingredientTypes %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ ingredientType.name }}</h5>
        <h6 class="card-subtitle text-muted">{{ ingredientType.ingredients }}</h6>
        {% if ingredientType.containedIn|length == 0 and ingredientType.ingredients|length == 0 %}
          <a href="#" onclick='confirmUser("/types/{{ ingredientType.id }}", "{{ ingredientType.name }}")' class="btn btn-danger">Remove</a>
        {% else %}
        <p class="card-text"><span class="text-primary">Used in: </span>{{ ingredientType.containedIn }}
          <br>
        </p>
        {% endif %}
        <a href="/types/edit/{{ ingredientType.id }}" class="card-link btn btn-primary text-lg-right">Edit</a>
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endblock %}
