{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block header %}Ingredients{% endblock %}

{% block ingredientsactive %}active{% endblock %}

{% block body %}
  <div class="container">
      <div class="leavesomespace">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          + Add
        </button>
      </div>
      <div class="collapse leavesomespace" id="collapseExample">
        <div class="card card-body">
          <h3>Add a new Ingredient</h3>
          {{ form(form) }}
        </div>
      </div>

    <div class="card-columns">
      {% for ingredient in ingredients %}
      {% if ingredient.isAvailable %}
      <div class="card border-success text-success">
      {% else %}
      <div class="card">
      {% endif %}
        <div class="card-header">{{ ingredient.type.name }}</div>
        <div class="card-body">
          <h5 class="card-title">{{ ingredient.name }}</h5>
          <h6 class="card-subtitle text-muted">CHF {{ ingredient.price | round(2) }}{% if ingredient.isPerLiter %} per liter{% else %} per serving{% endif %}</h6>
          <br>
          <p class="card-text">
            {% if ingredient.isAvailable %}
              <a href="/ingredients/{{ ingredient.id }}" class="btn btn-success">Edit</a>
            {% else %} 
              <a href="/ingredients/{{ ingredient.id }}" class="btn btn-dark">Edit</a>
            {% endif %}
              {#<a href="#" onclick='confirmUser("/ingredients/remove/{{ ingredient.id }}", "{{ ingredient.name }}")' class="btn btn-danger">Remove</a>#}
          </p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
