{% extends 'base.html.twig' %}

{% block title %}Cocktails{% endblock %}

{% block header %}Cocktails{% endblock %}

{% block cocktailsactive %}active{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
<div class='container'>
  <div id="twintMessage"></div>
  <div class="card-columns">
    {% for cocktail in cocktails %}
      {% if cocktail.isAvailable == true %}
        <div class="card border-success text-success">
        <div class="card-header">CHF {{ cocktail.price | round(2) }}</div>
      {% else %}
        <div class="card">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ cocktail.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ cocktail.ingredients }}</h6>
        <p class="card-text">{{ cocktail.notes }}</p>
        <div class="leavesomespace">
          <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ cocktail.id }}" aria-expanded="false" aria-controls="collapse{{ cocktail.id }}">
            Recipe
          </button>
          {#<a href="#" onclick='confirmUser("/remove/{{ cocktail.id }}", "{{ cocktail.name }}")' class="btn btn-danger">Remove</a>#}
        </div>
        <div class="collapse leavesomespace" id="collapse{{ cocktail.id }}">
          {% for recipe in recipes %}
            {% if recipe.id == cocktail.id %}
              <div class="card card-body">
                <ul class="list-group">
                  {% for recipeline in recipe.recipelines %}
                  <li class="list-group-item">{{ recipeline }}</li>
                  {% endfor %}
                </ul> 
                <br>
                <p>Method: {{ recipe.method }}</p>
                {#<a href="/edit/{{ cocktail.id }}" class="btn btn-success">Edit</a>#}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
