{% extends 'base.html.twig' %}

{% block title %}Add Cocktail{% endblock %}

{% block addcocktailactive %}active{% endblock %}

{% block header %}Add Cocktail{% endblock %}

{% block body %}
<div class="container">
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.notes) }}
  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient1) }}
    </div>
    <div class="col">
      {{ form_row(form.amount1) }}
    </div>
    <div class="col">
    {{ form_row(form.unit1) }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient2) }}
    </div>
    <div class="col">
      {{ form_row(form.amount2) }}
    </div>
    <div class="col">
    {{ form_row(form.unit2) }}
    </div>
  </div>
 
  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient3) }}
    </div>
    <div class="col">
      {{ form_row(form.amount3) }}
    </div>
    <div class="col">
    {{ form_row(form.unit3) }}
    </div>
  </div>
 
  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient4) }}
    </div>
    <div class="col">
      {{ form_row(form.amount4) }}
    </div>
    <div class="col">
    {{ form_row(form.unit4) }}
    </div>
  </div>
 
  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient5) }}
    </div>
    <div class="col">
      {{ form_row(form.amount5) }}
    </div>
    <div class="col">
    {{ form_row(form.unit5) }}
    </div>
  </div>
 
  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient6) }}
    </div>
    <div class="col">
      {{ form_row(form.amount6) }}
    </div>
    <div class="col">
    {{ form_row(form.unit6) }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient7) }}
    </div>
    <div class="col">
      {{ form_row(form.amount7) }}
    </div>
    <div class="col">
    {{ form_row(form.unit7) }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient8) }}
    </div>
    <div class="col">
      {{ form_row(form.amount8) }}
    </div>
    <div class="col">
    {{ form_row(form.unit8) }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient9) }}
    </div>
    <div class="col">
      {{ form_row(form.amount9) }}
    </div>
    <div class="col">
    {{ form_row(form.unit9) }}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form_row(form.ingredient10) }}
    </div>
    <div class="col">
      {{ form_row(form.amount10) }}
    </div>
    <div class="col">
    {{ form_row(form.unit10) }}
    </div>
  </div>

 {{ form_end(form) }}
</div>
{% endblock %}
