{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block header %}Edit {{ type.name }}{% endblock %}

{% block typesactive %}active{% endblock %}

{% block body %}
  <div class="container">
    {{ form(form) }}
  </div>
{% endblock %}
