<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script>
              function confirmUser(target, name){
                console.log("confirmUser"); 
                var ask = confirm("Are you sure you want to remove " + name + "?");
                if(ask) {
                  window.location = target;
                }
              }
            </script>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
        <div class="container">
          <a class="navbar-brand" href="/"><img src="/media/logo.svg" height="30"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse navbar-right" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link {% block cocktailsactive %}{% endblock %}" aria-current="page" href="/">All Cocktails</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block addcocktailactive %}{% endblock %}" href="/add">Add Cocktail</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block ingredientsactive %}{% endblock %}" href="/ingredients">Ingredients</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% block typesactive %}{% endblock %}" href="/types">Types</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <div class="bg-dark text-light" id="header">
          <center>
            <h1>{% block header %}{% endblock %}</h1>
          </center>
        </div>
        <div class="container">
          {% block body %}{% endblock %}
        </div> 
      <br>
    </body>
</html>
